<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
    
    <h4 class="heading-centre heading-style-uppercase">Welcome, {{ username }}</h4>

    <form method="post">
        <textarea name="message" id="message" cols="50" rows="4"></textarea>
        <br>
        <button class="btn-sm">Send Message</button>
    </form>

	{% for message in chat_messages %}
	<p>({{ message.timestamp }}) {{ message.from }}: {{ message.message }}</p>
	{% endfor %}

    <script>
        let textbox = document.getElementByID("message")

        let timer = setTimeout(function() {
            location.reload();
        }, 5000)

        textbox.onkeydown = function(e) {
            
            clearTimeout(timer)

            timer = setTimeout(function() {
                location.reload();
            }, 5000)

        }

    </script>

{% endblock %}